.picker {
    width: 404px;
    height: 586px;
    margin: 0 27px 0 0;
    padding: 27px 27px 17px 27px;
    background-color: #d8d8d8;

    .pickerbox {
        width: 404px;
        height: 404px;
        margin-bottom: 13px;
        div {
            width: 404px;
            height: 404px;
            &.overlay {
                float: left;
                margin-top: -404px;
            }
        }
    }

    .pickerbox-main-color {
        background-color: #6633cc;
    
    }

    .pickerbox-gradient-saturation {
        background: linear-gradient(to left, hsla(260, 0%, 50%, 1),hsla(260, 20%, 50%, 1),hsla(260, 40%, 50%, 1),hsla(260, 60%, 50%, 1),hsla(260, 80%, 50%, 1),hsla(260, 100%, 50%, 1));
        background: -moz-linear-gradient(left, hsla(260, 0%, 50%, 1),hsla(260, 20%, 50%, 1),hsla(260, 40%, 50%, 1),hsla(260, 60%, 50%, 1),hsla(260, 80%, 50%, 1),hsla(260, 100%, 50%, 1));
    }

    .pickerbox-gradient-lightness {
        background: linear-gradient(to bottom, hsla(260, 50%, 100%, 1),hsla(260, 50%, 50%, 0.5),hsla(260, 50%, 0, 1));
        background: -moz-linear-gradient(bottom, hsla(260, 50%, 100%, 1),hsla(260, 50%, 50%, 0.5),hsla(260, 50%, 0, 1));
    }
    
    .pickedbox {
        width: 98px;
        height: 44px;
        margin-right: 12px;
        border: 1px solid #000;
        float: left;
    }

    .formulabox {
        width: 274px;
        height: 43px;
        line-height: 43px;
        background-color: #fff;
        border: 1px solid #000;
        float: left;

        font-family: 'Roboto Slab', serif;
        font-size: 27px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        padding-left: 10px;
    }

    button {
        width: 404px;
        height: 85px;
        border: 5px solid #361059;
        border-radius: 10px;
        margin-top: 31px;
        background: linear-gradient(0deg, rgba(112,85,164,1) 0%, rgba(31,30,126,1) 98%);        
        color: #FFFFFF;
        font-family: Roboto Slab;
        text-transform: lowercase;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        font-size: 28px;
        line-height: 75px;
        box-shadow: 3px 3px 7px -4px #000000;
    }

    button:after {
        content: " ";
        display: block;
        width: 388px;
        height: 71px;
        margin-left: -7px;
        margin-top: -78px;
        border: 4px solid #ffffff;
        border-radius: 7px;
        background: url('../../assets/hexagonmask.svg') 30px center no-repeat,
                    url('../../assets/hexagonmask.svg') 330px center no-repeat;
        background-size: 30px, 30px;
        box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.75) inset;
        
    }
    button::first-letter {
        text-transform: capitalize;
    }
}
