.preview {
    width: 595px;
    height: 576px;
    background-image: url('../../assets/shirt.svg'), url('../../assets/checkerboard.svg');
    background: url('../../assets/shirt.svg') center center no-repeat, url('../../assets/checkerboard.svg') left top repeat;
    background-size: 466px, auto;
    box-shadow: inset 2px 2px 6px 0 #00000066;
    border: 27px solid #d8d8d8;

    .logo {
        display: block;
        width: 122px;
        height: 139px;
        margin: 161px auto 0;
    }

    div.logo {
        -webkit-mask: url('../../assets/hexagonmask.svg') no-repeat center / contain;
        mask: url('../../assets/hexagonmask.svg') no-repeat center / contain;
    }

    div.logo-r {
        height: 139px;
        background-color: #ffffff;
        mask: url('../../assets/reallygood.svg') no-repeat center / contain;
    }
}
